@model IEnumerable<Shop.Domain.ViewModel.CartProductViewModel>

@{

}

<div>
    <h2>Big Cart Component</h2>
    @foreach (var c in Model)
    {
        <p>@c.Name</p>
        <p>@c.Price</p>
        <p>@c.Qty</p>
        <p>@c.StockId</p>
        <hr/>
    }
</div>
